* {
    font-family: inherit;
    color: inherit;
}

body {
    text-align: center;
    font-family: "Palatino", "Time New Roman", serif;
    color: #525252;
}

.title {
    margin: auto;
    margin-top: 0.5em;
    display: block;
    font-size: 3.7rem;
    line-height: 1.5;
}

#mainCanvas {
    margin: auto;
    margin-top: 1.5em;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.menu {
    position: absolute;
}

@media only screen and (max-width: 620px) {
    .menu {
        position: static;
    }
}

.menu .menuButton {
    margin-left: 0.5em;
}

.menu .menuButton:hover {
    color: #BBB;
    cursor: pointer;
}

#seed {
    position: absolute;
    bottom: 0.5em;
    left: 0.5em;
    font-size: 0.9rem;
}

.listHolder {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 256px;
    box-shadow: 1px 0px 5px 6px #ccc;
    z-index: 5;
    background: white;
    text-align: left;
    display: none;
}

.listHolder h2 {
    font-size: 2.1rem;
    margin-left: 1.5rem;
}

.listHolder ul {
    list-style-type: none;
    font-size: 1.6rem;
    padding-left: 0;
    line-height: 1.5;
    margin-left: 1.5rem;
}

.listHolder li:hover {
    cursor: pointer;
    color: #BBB;
}

#closeList {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
}

#closeList:hover {
    color: #BBB;
    cursor: pointer;
}
