* {
    font-family: inherit;
    color: inherit;
}

body {
    text-align: center;
    font-family: "Palatino", "Time New Roman", serif;
    color: #333;
}

.titleSelector {
    margin: auto;
    margin-top: 0.5em;
    display: block;
    font-size: 3.7rem;
    line-height: 1.5;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    border-style: none;
}

.titleSelector:focus {
    outline: 0 none;
}

#mainCanvas {
    margin: auto;
    margin-top: 1.5em;
    box-shadow: 3px 3px 5px 6px #ccc;
}
