* {
    font-family: inherit;
    color: inherit;
}

body {
    text-align: center;
    font-family: "Palatino", "Time New Roman", serif;
    color: #525252;
}

.titleSelector {
    margin: auto;
    margin-top: 0.5em;
    display: block;
    font-size: 3.7rem;
    line-height: 1.5;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    border-style: none;
}

.titleSelector:focus {
    outline: 0 none;
}

#mainCanvas {
    margin: auto;
    margin-top: 1.5em;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.menu {
    position: absolute;
}

@media only screen and (max-width: 620px) {
    .menu {
        position: static;
    }
}

.menu .menuButton {
    margin-left: 0.5em;
}

.menu .menuButton:hover {
    color: #BBB;
    cursor: pointer;
}

#seed {
    position: absolute;
    bottom: 0.5em;
    left: 0.5em;
    font-size: 0.9rem;
}
